
@{
    ViewBag.Title = "Danh Sách Báo Cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 0;
    <style>
        #dataTable_filter input {
            display: none;
        }

        .no-footer {
            border-bottom: none;
        }

        .is-invalid {
            color: #E84C3D;
            margin-top: 5px;
        }

        .dt-buttons {
            border-bottom: 1px solid rgba(0,0,0,.125);
            padding: 8px;
        }

        .card-tools {
            position: absolute;
            right: 10px;
            top: 11px;
            z-index: 999;
        }
    </style>

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh Sách báo cáo kết quả xác minh</li>
                </ol>
            </div>
        </div>
    </div>
</section>






<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card elevation-2" style="overflow-x: scroll; overflow-y: hidden; ">
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Tìm ..." id="Filter_QLTentiendo">
                            <div class="input-group-append mr-3">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search text-primary"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover text-nowrap table-bordered" id="dataTable">
                        <thead class="bg-primary">
                            <tr>
                                <th>STT</th>
                                <th>Tên Kế Hoạch</th>
                                <th>Kế Hoạch Năm</th>
                                <th>Căn Cứ QĐ</th>
                                <th>Nội Dung Kế Hoạch</th>
                                <th>Tiến Độ</th>
                                <th>Trạng Thái</th>
                                <th>Chức Năng</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="card-footer clearfix" style="height: 51px; width: 100%">
                        <ul class="pagination pagination-sm m-0 float-right">
                        </ul>
                    </div>

                </div>
            </div>
        </div> 
     </div>
</section>

<script>

    var t;

    function loadDataTable() {

        t = $("#dataTable").DataTable({
            "lengthChange": false,
            "info": false,

            "language": {

                "search": "",
                "info": "Tổng số _TOTAL_ hàng",
                "infoEmpty": "",
                "infoFiltered": "",
                "paginate": {
                    "next": "»",
                    "previous": "«"
                },
                "processing": `Đang tải dữ liệu`,

                searchPlaceholder: "Tìm...",
                zeroRecords: "Không tìm thấy kết quả",

            },
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '<i class="fa fa-file-excel"></i>',
                    extend: 'excel',
                    className: 'btn btn-outline-primary btn-sm mt-2 ml-3'
                },
                {
                    text: '<i class="fa fa-file-pdf"></i>',
                    extend: 'pdf',
                    className: 'btn btn-outline-primary btn-sm mt-2'
                },
                {
                    text: '<i class="fa fa-print"></i>',
                    extend: 'print',
                    className: 'btn btn-outline-primary btn-sm mt-2'
                }
            ],

            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/NV_BaoCaoKetQua/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "TenKeHoachXacMinh" },
                { "data": "TenKeHoachXacMinh" },
                { "data": "KeHoachNam" },
                { "data": "CanCuQuyetDinh" },
                { "data": "NoiDungXacMinh" },
                { "data": "TenTienDo" },
                { "data": "TenTienDo" },

                {
                    "data": "ID", "render": function (data, type, row) {
                        return `     <a style="cursor:pointer" class="btn-edit" pattern="edit" href="/NV_BaoCaoKetQua/BaoCaoKetQua/${data}"><span class="fa fa-pager"></span> Xem chi tiết</a>

                                    `

                    }
                },
            ]

        });
        t.on('draw.dt', function () {
            var info = t.page.info();
            t.column(0, { search: 'applied', order: 'applied', page: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + info.start;
            });
        });

    }

   


    $(document).ready(function () {
        loadDataTable();

    })

</script>




