
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>inGiaoNhanBanKeKhai</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- DataTables -->

    <link rel="stylesheet" href="~/Content/dist/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link href="~/Content/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Content/dist/js/sweetalert2.all.min.js"></script>


    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- Telephone Input CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css'>
    <!-- Icons CSS -->
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <!-- Nice Select CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css'>
    <!-- Style CSS -->
</head>
<body>
    <div> 
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card text_ui_right_cus Card-control">
                      

                            @*<div class="row line_header" style="padding-bottom: 1%;padding-left: 2%;padding-right: 2%;padding-top: 1%;">
                                <div class="col-md-6 title_ngtao clsTitleFrom" style="text-align: left; ">

                                </div>
                                  
                            </div>*@
                            <div style="padding-bottom: 1%; padding-left:2%; padding-right:2%;" class="row">
                                <div class="col-md-12" style=" padding-top: 1%; padding-bottom: 1%; padding-left: 2%; padding-right: 2%; border-radius: 10px; box-shadow: 0 5px 20px 0 rgb(0 0 0 / 15%); margin-top: 10px;">
                                    <div>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:normal"><span style="font-weight:bold">MẪU BIÊN BẢN</span><br /><span style="font-weight:bold">Giao nhận Bản kê khai tài sản, thu nhập năm <span id="spanNamKeKhai1" name="spanNamKeKhai1"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:115%; font-size:12pt"><span>(Kèm theo Công văn số: <span id="spanCongVanSo"> ... </span>./UBND-NC ngày <span id="spanNgayCongVan"> ... </span>/<span id="spanThangCongVan"> ... </span>/<span id="spanNamCongVan"> ... </span> của UBND tỉnh)</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:115%; font-size:13pt"><span style="font-weight:bold">---------------</span></p>
                                        <p class="Vnbnnidung60" style="margin-top:6pt; margin-left:2pt; text-align:center; line-height:normal; font-size:14pt; background-color:transparent"><span style="font-weight:normal; font-style:italic; -aw-import:ignore">&#xa0;</span></p>
                                        <div style="text-align:center">
                                            <table cellspacing="0" cellpadding="0" style="width:458.45pt; margin-right:auto; margin-left:auto; margin-bottom:0pt; border-collapse:collapse">
                                                <tr>
                                                    <td style="width:174.45pt; vertical-align:top; background-color:#ffffff">
                                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><a name="bookmark118"></a><a name="bookmark119"><span style="-aw-import:spaces">&#xa0; </span><span>TÊN CQ, TC CHỦ QUẢN</span></a></p>
                                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">TÊN CƠ QUAN, TỔ CHỨC</span></p>
                                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">---------------</span></p>
                                                    </td>
                                                    <td style="width:284pt; vertical-align:top; background-color:#ffffff">
                                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold; -aw-import:spaces">&#xa0;&#xa0; </span><span style="font-weight:bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM </span></p>
                                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">Độc lập - Tự do - Hạnh phúc</span></p>
                                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">---------------</span></p>
                                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-style:italic; -aw-import:spaces">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-style:italic">Thứ <span>@((int)DateTime.UtcNow.DayOfWeek + 1)</span>, ngày <span>@DateTime.Now.Day</span> tháng <span>@DateTime.Now.Month</span> năm <span>@DateTime.Now.Year</span></span></p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span style="font-weight:bold; -aw-import:ignore">&#xa0;</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:normal; font-size:13pt"><span style="font-weight:bold">BIÊN BẢN</span><br /><span style="font-weight:bold">Giao nhận </span><span style="-aw-bookmark-end:bookmark118"></span><span style="-aw-bookmark-end:bookmark119"></span><span style="font-weight:bold">Bản kê khai tài sản, thu nhập năm <span id="spanNamKeKhai2" name="spanNamKeKhai2"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; line-height:normal; font-size:13pt"><span style="font-weight:bold">---------------</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt">
                                            <span>Vào lúc,</span>
                                            <span id="spanGioGiaoNhan" name="spanGioGiaoNhan"> ... </span>
                                            <span> ngày </span>
                                            <span id="spanNgayGiaoNhan" name="spanNgayGiaoNhan"> ... </span>
                                            <span> tháng </span>
                                            <span id="spanThangGiaoNhan" name="spanThangGiaoNhan"> ... </span>
                                            <span> năm </span>
                                            <span id="spanNamGiaoNhan" name="spanNamGiaoNhan"> ... </span>
                                            <span>, tại </span>
                                            <span id="spanDiaDiemGiaoNhan" name="spanDiaDiemGiaoNhan"> ................................... </span>
                                        </p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span>Chúng tôi gồm:</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span style="font-weight:bold">BÊN GIAO: <span id="spanCoQuanGiao" name="spanCoQuanGiao"></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span>Ông (bà):</span><span id="spanCanBoGiao" name="spanCanBoGiao"></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span>Chức vụ công tác:</span><span id="spanChucVuBenGiao" name="spanChucVuBenGiao"></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span style="font-weight:bold">BÊN NHẬN: <span id="spanCoQuanNhan" name="spanCoQuanNhan"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span>Ông (bà): <span id="spanCanBoNhan" name="spanCanBoNhan"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span>Chức vụ công tác: <span id="spanChucVuBenNhan" name="spanChucVuBenNhan"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-indent:36pt; text-align:justify; line-height:normal; font-size:13pt"><span>Tiến hành giao nhận Bản kê khai tài sản, thu nhập năm <span id="spanNamKeKhai3" name="spanNamKeKhai3"></span> gồm:</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span style="font-weight:bold">I. Kê khai TSTN hằng năm <span id="spanNamKeKhai4" name="spanNamKeKhai4"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span>1. Danh sách người có nghĩa vụ kê khai hằng năm năm <span id="spanNamKeKhai5" name="spanNamKeKhai5"></span></span></p>
                                        <table cellspacing="0" cellpadding="0" class="TableGrid" style="width: 100%; margin-bottom:0pt; border:0.75pt solid #000000; -aw-border:0.5pt single; -aw-border-insideh:0.5pt single #000000; -aw-border-insidev:0.5pt single #000000; border-collapse:collapse">
                                            <tr>
                                                <td style="width:33.3pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-right:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">STT</span></p>
                                                </td>
                                                <td style="width:130.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">Họ và tên</span></p>
                                                </td>
                                                <td style="width:138.15pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">Chức vụ</span></p>
                                                </td>
                                                <td style="width:100.8pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-left:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">Đơn vị công tác</span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:33.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-right:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                                <td style="width:130.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                                <td style="width:138.15pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                                <td style="width:100.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-left:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                            </tr>
                                        </table>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span>2. Số lượng các bản kê khai: <span id="spanSoLuongKeKhaiHangNam" name="spanSoLuongKeKhaiHangNam"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span><span style="width:28.35pt; display:inline-block">&#xa0;</span>Lý do không bàn giao đủ số lượng bản kê khai (nếu có): <span id="LyDoKhongBanGiaoKKDuHangNam" name="LyDoKhongBanGiaoKKDuHangNam"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span>3. Tình trạng tài liệu giao nộp: <span id="TinhTrangGiaoBanKKHangNam" name="TinhTrangGiaoBanKKHangNam"></span></span><span style="width:28.35pt; display:inline-block">&#xa0;</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span style="font-weight:bold">II. Kê khai TSTN bổ sung năm <span id="spanNamKeKhai6" name="spanNamKeKhai6"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span>1. Danh sách người có nghĩa vụ kê khai bổ sung năm <span id="spanNamKeKhai7" name="spanNamKeKhai7"></span></span></p>
                                        <table cellspacing="0" cellpadding="0" class="TableGrid" style="width: 100%; margin-bottom: 0pt; border: 0.75pt solid #000000; -aw-border: 0.5pt single; -aw-border-insideh: 0.5pt single #000000; -aw-border-insidev: 0.5pt single #000000; border-collapse: collapse">
                                            <tr>
                                                <td style="width:33.3pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-right:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">STT</span></p>
                                                </td>
                                                <td style="width:130.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">Họ và tên</span></p>
                                                </td>
                                                <td style="width:138.15pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">Chức vụ</span></p>
                                                </td>
                                                <td style="width:100.8pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-bottom:0.5pt single; -aw-border-left:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:13pt"><span style="font-weight:bold">Đơn vị công tác</span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:33.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-right:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                                <td style="width:130.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                                <td style="width:138.15pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-left:0.5pt single; -aw-border-right:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                                <td style="width:100.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; -aw-border-left:0.5pt single; -aw-border-top:0.5pt single">
                                                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:13pt"><span style="-aw-import:ignore">&#xa0;</span></p>
                                                </td>
                                            </tr>
                                        </table>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span>2. Số lượng các bản kê khai: <span id="spanSoLuongKeKhaiBoSung" name="spanSoLuongKeKhaiBoSung"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span><span style="width:28.35pt; display:inline-block">&#xa0;</span>Lý do không bàn giao đủ số lượng bản kê khai (nếu có): <span id="LyDoKhongBanGiaoKKDuBoSung" name="LyDoKhongBanGiaoKKDuBoSung"></span></span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; line-height:normal; font-size:13pt"><span>3. Tình trạng tài liệu giao nộp: <span id="TinhTrangGiaoBanKKBoSung" name="TinhTrangGiaoBanKKBoSung"></span></span><span style="width:28.35pt; display:inline-block">&#xa0;</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span>Biên bản này được lập thành hai bản; bên giao giữ một bản, bên nhận giữ một bản./.</span></p>
                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal; font-size:13pt"><span style="font-style:italic; -aw-import:ignore">&#xa0;</span></p>

                                        <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; line-height:normal"><span style="-aw-import:ignore">&#xa0;</span></p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </section>
    </div>
</body>
</html>
