
@{
    ViewBag.Title = "Danh Mục Cơ Quan - Đơn Vị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Danh Mục Cơ Quan - Đơn Vị</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card elevation-2">
                    <div class="card-tools">
                        <div class="input-group input-group-sm row">


                            <input type="text" name="table_search" class="form-control float-right mr-1" placeholder="Tìm..." id="Filter">
                            <div class="input-group-append mr-3">
                                <button type="submit" class="btn btn-default" id="search_btn">
                                    <i class="fas fa-search text-primary"></i>
                                </button>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-sh" id="THEM">
                                    <i class="fas fa-plus pr-2"></i>Thêm Mới
                                </button>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover text-nowrap table-bordered" id="dataTable" style="width: 100%">
                        <thead class="bg-primary">
                            <tr>
                                <th style="width: 5%">STT</th>
                                <th style="width: 35%">Tên Loại Cơ Quan - Đơn Vị</th>
                                <th style="width: 55%">Tên Cơ Quan - Đơn Vị</th>
                                <th style="width: 5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="card-footer clearfix" style="height: 51px; width: 100%">
                        <ul class="pagination pagination-sm m-0 float-right">
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="add-sh">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm Danh Mục Cơ Quan - Đơn Vị</h4>
                        <button type="button" class="close closeform" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Ajax.BeginForm("Create", "DM_CoQuanDonVi", new AjaxOptions { HttpMethod = "POST", OnSuccess = "FnSuccess", OnFailure = "Failure", OnBegin = "FnBegin" }, new { @class = "formDM_CanBo form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-body">                            
                                <div class="form-group row">
                                    <label for="Ma_Loai_KeKhai" class="col-sm-3 col-form-label">
                                        Tên Cơ Quan - Đơn Vị <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="nhập tên cơ quan đơn vị" id="Ten" name="Ten" value="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Ma_Loai_KeKhai" class="col-sm-3 col-form-label">
                                        Loại Đơn vị <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="MaLoai_CoQuan_DonVi" id="MaLoai_CoQuan_DonVi" style="width: 100%; height: 100%">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-danger closeform" data-dismiss="modal" style="width: 105px">
                                    Đóng
                                </button>
                                <button type="submit" class="btn btn-primary" style="position: relative; width: 105px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: none; display: block; shape-rendering: auto; margin: 0px; padding: 0px; width: 20px; height: 20px; position: absolute;left: 5px;top: 6px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading_newcoquan d-none">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                    Lưu Mới
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @* Modal chỉnh sửa cơ quan *@
        <div class="modal fade" id="add-sh1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cập Nhật Danh Mục Cơ Quan - Đơn Vị</h4>
                        <button type="button" class="close closeform" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Ajax.BeginForm("Edit", "DM_CoQuanDonVi", new AjaxOptions { HttpMethod = "POST", OnSuccess = "FnSuccess_Edit", OnFailure = "Failure_Edit", OnBegin = "FnBegin_Edit" }, new { @class = "formDM_CanBoEdit form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="Ma_Loai_KeKhai" class="col-sm-3 col-form-label">
                                        Tên Cơ Quan - Đơn Vị <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="hidden" disable="true" class="form-control" id="Ma_CoQuan_DonVi_Edt" name="Ma_CoQuan_DonVi">
                                        <input type="text" class="form-control" placeholder="nhập tên cơ quan đơn vị" id="Ten_Edt" name="Ten">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Ma_Loai_KeKhai" class="col-sm-3 col-form-label">
                                        Loại Đơn vị <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="MaLoai_CoQuan_DonVi" id="MaLoai_CoQuan_DonVi_Edt" style="width: 100%; height: 100%">
                                        </select>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-danger closeform" data-dismiss="modal" style="width: 110px">
                                    Đóng
                                </button>
                                <button type="submit" class="btn btn-primary" style="position: relative; width: 110px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: none; display: block; shape-rendering: auto; margin: 0px; padding: 0px; width: 20px; height: 20px; position: absolute;left: 5px;top: 6px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading_editcoquan d-none">
                                        <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                        </circle>
                                    </svg>
                                    Cập nhật
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>
<script src="~/Scripts/DanhMuc/DM_CoQuanDonVi.js"></script>