
@{
    ViewBag.Title = "Cập Nhật Thông Tin Cán Bộ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Cập Nhật Thông Tin Cán Bộ</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 card">
                @using (Ajax.BeginForm("Edit", "DM_CanBo", new AjaxOptions { HttpMethod = "POST", OnSuccess = "FnSuccess_Edit", OnFailure = "Failure_Edit", OnBegin = "FnBegin_Edit" }, new { @class = "DM_Edt form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="row">
                        <div class="card-content-custom">
                            <div class="col-md-12" style="text-align: left; padding-top: 10px;">
                                <label class="Showheader-title">
                                    <label class="mt-0 header-title header-title-Edit" data-toggle="collapse" data-target="#collapseThongTinCanBo" aria-expanded="false" aria-controls="collapseThongTinCanBo">
                                        <i class="far fa-caret-square-down"></i>
                                        <span class="TitleForm clsShow cursor-pointer">Thông tin Người kê khai tài sản, thu nhập</span>
                                    </label>
                                </label>
                            </div>
                            <div class="col-md-12 collapse show" id="collapseThongTinCanBo">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Họ Và Tên</label>
                                            <input type="text" class="form-control" placeholder="nhập họ và tên" id="HoTen_edt" name="HoTen">
                                            <input type="text" class="form-control" id="Ma_CanBo_edt" name="Ma_CanBo" hidden>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Ngày tháng năm sinh</label>
                                            <input type="date" class="form-control" id="DoB_edt" name="DoB">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Nhập Email" id="Email_edt" name="Email">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Nơi thường trú</label>
                                            <input type="text" class="form-control" placeholder="nhập Nơi thường trú" id="DiaChiThuongTru_edt" name="DiaChiThuongTru">
                                        </div>
                                    </div>
                                   

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Số CMND/CCCD</label>
                                            <input type="text" class="form-control" placeholder="nhập số CMND/CCCD" id="SoCCCD_edt" name="SoCCCD">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Ngày Cấp</label>
                                            <input type="date" class="form-control" id="NgayCap_edt" name="NgayCap">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Nơi Cấp</label>
                                            <input type="text" class="form-control" placeholder="nơi cấp" id="NoiCap_edt" name="NoiCap">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Cơ quan/đơn vị công tác</label>

                                            <select class="form-control" name="Ma_CoQuan_DonVi" id="Ma_CoQuan_DonVi_edt" style="width: 100%; height: 100%">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Chức vụ/chức danh công tác</label>
                                            @*<input type="text" class="form-control" placeholder="Cơ quan/đơn vị công tác đơn vị" id="Ma_ChucVu_ChucDanh_edt" name="Ma_ChucVu_ChucDanh">*@
                                            <select class="form-control" name="Ma_ChucVu_ChucDanh" id="Ma_ChucVu_ChucDanh_edt" style="width: 100%; height: 100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="card-content-custom">
                            <div class="col-md-12" style="text-align: left; padding-top: 10px;">
                                <label class="Showheader-title">
                                    <label class="mt-0 header-title header-title-Edit" data-toggle="collapse" data-target="#collapseThanNhan" aria-expanded="false" aria-controls="collapseThanNhan">
                                        <i class="far fa-caret-square-down"></i>
                                        <span class="TitleForm clsShow cursor-pointer">Vợ hoặc chồng của người kê khai tài sản, thu nhập</span>
                                    </label>
                                </label>
                            </div>
                            <div class="col-md-12 collapse show" id="collapseThanNhan" >
                                
                               
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="card-content-custom" style="width: 100%;">
                            <div class="col-md-12" style="text-align: left; padding-top: 10px;">
                                <label class="Showheader-title">
                                    <label class="mt-0 header-title header-title-Edit" data-toggle="collapse" data-target="#collapseThanNhanCon" aria-expanded="false" aria-controls="collapseThanNhanCon">
                                        <i class="far fa-caret-square-down"></i>
                                        <span class="TitleForm clsShow cursor-pointer">Con chưa thành niên (con đẻ, con nuôi theo quy định của pháp luật)</span>
                                    </label>
                                </label>
                            </div>
                            <div class="col-md-12 collapse show" id="collapseThanNhanCon" >
                                
                             
                                
                            </div>
                            <div class="row" style="margin-top: 20px; float: right" id="clsAddRow_collapseThanNhan">
                                <div class="col-12">
                                    <span class="btn btn-primary clsAddRow"><i class="fas fa-plus-square"></i> Thêm dòng</span>
                                </div>
                            </div>
                        </div>


                

                    </div>
                </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger closeform" data-dismiss="modal" style="width: 110px">
                            Đóng
                        </button>
                        <button type="submit" class="btn btn-primary" style="position: relative; width: 110px;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: none; display: block; shape-rendering: auto; margin: 0px; padding: 0px; width: 20px; height: 20px; position: absolute;left: 5px;top: 6px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading_editcanbo d-none">
                                <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                </circle>
                            </svg>
                            Cập nhật
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/DanhMuc/DM_CanBo_Edit.js"></script>