@using KeKhaiTaiSanThuNhap.Models
@{
    ViewBag.Title = "Xem Chi Tiết Kết Quả Kê Khai";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #38a4f8;
            background-color: transparent;
            text-transform: uppercase;
            border-color: transparent transparent #f3f3f3;
            border-bottom: transparent;
            font-weight: 400;
            border-top: 1px solid #38a4f8 !important;
            border-left: 1px solid #38a4f8 !important;
            border-right: 1px solid #38a4f8 !important;
        }

        .nav-tabs .nav-link {
            border: 1px solid transparent !IMPORTANT;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        a.active, button.active, a:focus, button:focus, a:hover, button:hover {
            color: #252525;
            outline: none !important;
            text-decoration: none !important;
        }

        .nav-link {
            display: block;
            padding: 0.5rem 1rem;
        }

        button {
            outline: none !important;
            text-decoration: none !important;
            color: #99abb4;
            transition: all 0.2s ease 0s;
        }

        .card {
            background: #ffffff none repeat scroll 0 0;
            margin: 0;
            padding: 20px;
            border: 0 solid #e7e7e7;
            border-radius: 5px;
            box-shadow: 0 5px 20px 0 rgb(0 0 0 / 15%);
            margin-bottom: 15px;
            padding-bottom: 15px;
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 0.25rem;
        }

        .card-content-custom {
            padding-bottom: 1%;
            padding-left: 2%;
            padding-right: 2%;
            border-radius: 10px;
            width: 100%;
        }

        .card-tools {
            position: absolute;
            right: -16px;
            top: 97px;
            z-index: 999;
        }

        .card-tools1 {
            position: absolute;
            right: -29px;
            top: 42px;
            z-index: 999;
        }

        .card-tools2 {
            position: absolute;
            right: -29px;
            top: 45px;
            z-index: 999;
        }


        .pdfobject-container {
            width: 100%;
            max-width: 600px;
            height: 600px;
            margin: 2em 0;
        }

        .pdfobject {
            border: solid 1px #666;
        }

        #results {
            padding: 1rem;
        }

        .hidden {
            display: none;
        }

        .success {
            color: #4F8A10;
            background-color: #DFF2BF;
        }

        .fail {
            color: #D8000C;
            background-color: #FFBABA;
        }

        .cn {
            position: relative;
        }

        #Filter_data1, #Filter_data2 {
            height: 35px;
            border-radius: 5px;
        }
    </style>
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/ket-qua-ke-khai">Kết Quả Kê Khai Tài Sản, Thu Nhập</a></li>
                    <li class="breadcrumb-item active">Xem Chi Tiết</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card text_ui_right_cus Card-control">
                    <div style="padding-bottom: 3%; padding-left:2%; padding-right:2%;" class="row">
                        <div class="col-md-12">

                            <ul class="nav nav-tabs nav-justified">
                                @if (!(bool)ViewBag.TrangThai)
                                {
                                    <li id="tab_patient_reception_status_wait" class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#DSCanBo">CHỌN DANH SÁCH CÁN BỘ</a>
                                    </li>

                                    <li id="tab_patient_reception_status_receive" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#DSCanBoKKHN">@ViewBag.TenLoaiKeHoach</a>
                                    </li>

                                    if ((bool)ViewBag.TrangThaiKKHN)
                                    {
                                        <li id="tab_patient_reception_status_receive" class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#DSCanBoKKBS">DANH SÁCH CÁN BỘ KÊ KHAI BỔ SUNG</a>
                                        </li>
                                    }
                                }
                                else
                                {

                                    <li id="tab_patient_reception_status_receive" class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#DSCanBoKKHN">@ViewBag.TenLoaiKeHoach</a>
                                    </li>
                                    if ((bool)ViewBag.TrangThaiKKHN)
                                    {
                                        <li id="tab_patient_reception_status_receive" class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#DSCanBoKKBS">DANH SÁCH CÁN BỘ KÊ KHAI BỔ SUNG</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="tab-content mt-3">

                                @if ((bool)ViewBag.TrangThai)
                                {

                                    <div class="tab-pane pt-3 active" id="DSCanBoKKHN">
                                        <div class="card-tools2">
                                            <div class="input-group input-group-sm row">

                                              
                                                <input type="text" name="table_search" class="form-control float-right mr-1" placeholder="Tìm Cán Bộ" id="Filter_data2">
                                                <div class="input-group-append mr-3">
                                                    <button type="submit" class="btn btn-default" id="search_2">
                                                        <i class="fas fa-search text-primary"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <table class="table table-hover text-nowrap table-bordered mt-4" id="dataTable2" style="width: 100%;">
                                            <thead class="bg-primary ">
                                                <tr>
                                                    <th width="20px" class="">STT</th>
                                                    <th width="20%">
                                                        Họ Tên Cán Bộ
                                                    </th>
                                                    <th>
                                                        Số CCCD
                                                    </th>
                                                    <th>
                                                        Chức vụ/ chức danh công tác
                                                    </th>
                                                    <th>
                                                        Cơ quan/đơn vị công tác
                                                    </th>
                                                    <th>
                                                        Tên Kế Hoạch Kê khai
                                                    </th>
                                                    <th>
                                                        Kế Hoạch năm
                                                    </th>
                                                    <th>
                                                        Trạng Thái
                                                    </th>
                                                    <th style="width: 5%">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>

                                    if ((bool)ViewBag.TrangThaiKKHN)
                                    {
                                        <div class="tab-pane pt-3" id="DSCanBoKKBS">
                                            <div class="card-tools2">
                                                <div class="input-group input-group-sm row">
                                                    <input type="text" name="table_search" class="form-control float-right mr-1" placeholder="Tìm Cán Bộ" id="Filter_data3">
                                                    <div class="input-group-append mr-3">
                                                        <button type="submit" class="btn btn-default" id="search_3">
                                                            <i class="fas fa-search text-primary"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-hover text-nowrap table-bordered mt-4" id="dataTable3" style="width: 100%;">
                                                <thead class="bg-primary ">
                                                    <tr>
                                                        <th width="20px" class="">STT</th>
                                                        <th width="20%">
                                                            Họ Tên Cán Bộ
                                                        </th>
                                                        <th>
                                                            Số CCCD
                                                        </th>
                                                        <th>
                                                            Chức vụ/ chức danh công tác
                                                        </th>
                                                        <th>
                                                            Cơ quan/đơn vị công tác
                                                        </th>
                                                        <th>
                                                            Tên Kế Hoạch Kê khai
                                                        </th>
                                                        <th>
                                                            Kế Hoạch năm
                                                        </th>
                                                        <th>
                                                            Trạng Thái
                                                        </th>
                                                        <th style="width: 5%">
                                                          
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="tab-pane active" id="DSCanBo">
                                        <div class="row">
                                            <div class="col-8" style="text-align: end; height: 8px;">


                                            </div>
                                        </div>

                                        <div class="card-tools1">
                                            <div class="input-group input-group-sm row">
                                                @if (ViewBag.TrangThai == false)
                                                {
                                                    <div class=" mr-3">
                                                        <button type="submit" class="btn btn-outline-info" id="LuuDanhSach"><i class="fa-regular fa-floppy-disk"></i></button>
                                                        <svg class="d-none" id="loading_savedanhsach" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: #fff0; display: block; width: 48px; position: absolute; top: -10px; left: -40px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                            <circle cx="75" cy="50" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.9090909090909091s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.9090909090909091s"></animate>
                                                            </circle>
                                                            <circle cx="71.03133832077953" cy="63.51602043638994" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.8181818181818182s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.8181818181818182s"></animate>
                                                            </circle>
                                                            <circle cx="60.385375325047164" cy="72.74079988386296" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.7272727272727273s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.7272727272727273s"></animate>
                                                            </circle>
                                                            <circle cx="46.442129043167874" cy="74.74553604702332" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.6363636363636364s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.6363636363636364s"></animate>
                                                            </circle>
                                                            <circle cx="33.62848165136788" cy="68.89373935885646" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.5454545454545454s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.5454545454545454s"></animate>
                                                            </circle>
                                                            <circle cx="26.012675659637566" cy="57.04331392103574" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.45454545454545453s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.45454545454545453s"></animate>
                                                            </circle>
                                                            <circle cx="26.012675659637562" cy="42.95668607896427" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.36363636363636365s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.36363636363636365s"></animate>
                                                            </circle>
                                                            <circle cx="33.62848165136787" cy="31.106260641143546" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.2727272727272727s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.2727272727272727s"></animate>
                                                            </circle>
                                                            <circle cx="46.44212904316787" cy="25.254463952976682" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.18181818181818182s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.18181818181818182s"></animate>
                                                            </circle>
                                                            <circle cx="60.38537532504715" cy="27.259200116137038" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.09090909090909091s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.09090909090909091s"></animate>
                                                            </circle>
                                                            <circle cx="71.03133832077953" cy="36.48397956361006" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="0s"></animate>
                                                            </circle>
                                                        </svg>
                                                    </div>
                                                    if (ViewBag.TrangThaiKKHN == true)
                                                    {
                                                        <div class="mr-3" style=" position: absolute; left: -58.2vw; top: 0px;">
                                                            <select class="form-control" name="MaLoaiKeKhai" id="MaLoaiKeKhai">
                                                                <option value="4" selected>Danh Sách Kê Khai Hằng Năm</option>
                                                                <option value="5">Danh Sách Kê Khai Bổ Sung</option>
                                                            </select>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control hidden" name="MaLoaiKeKhai" id="MaLoaiKeKhai" hidden value="0" />
                                                    }




                                                }
                                                <input type="text" name="table_search" class="form-control float-right mr-1" placeholder="Tìm Cán Bộ" id="Filter_data1">
                                                <div class="input-group-append mr-3">
                                                    <button type="submit" class="btn btn-default" id="search_1">
                                                        <i class="fas fa-search text-primary"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <table class="table table-hover text-nowrap table-bordered mt-4" id="dataTable">
                                            <thead class="bg-primary ">
                                                <tr>
                                                    <th width="20px" class=""></th>
                                                    <th>
                                                        Họ và tên
                                                    </th>
                                                    <th>
                                                        Ngày tháng năm sinh
                                                    </th>
                                                    <th>
                                                        Chức vụ/ chức danh công tác
                                                    </th>
                                                    <th>
                                                        Cơ quan/đơn vị công tác
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane pt-3" id="DSCanBoKKHN">
                                        <div class="card-tools1">
                                            <div class="input-group input-group-sm row">

                                                <div class=" mr-3">
                                                    <button type="submit" class="btn btn-outline-info" id="btnPrint_ds">
                                                        <i class="fa fa-print" aria-hidden="true"></i>
                                                    </button>
                                                    <svg class="d-none" id="loading_btnPrint_dsCBHN" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: #fff0; display: block; width: 48px; position: absolute; top: -10px; left: -37px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                        <circle cx="75" cy="50" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.9090909090909091s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.9090909090909091s"></animate>
                                                        </circle>
                                                        <circle cx="71.03133832077953" cy="63.51602043638994" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.8181818181818182s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.8181818181818182s"></animate>
                                                        </circle>
                                                        <circle cx="60.385375325047164" cy="72.74079988386296" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.7272727272727273s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.7272727272727273s"></animate>
                                                        </circle>
                                                        <circle cx="46.442129043167874" cy="74.74553604702332" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.6363636363636364s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.6363636363636364s"></animate>
                                                        </circle>
                                                        <circle cx="33.62848165136788" cy="68.89373935885646" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.5454545454545454s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.5454545454545454s"></animate>
                                                        </circle>
                                                        <circle cx="26.012675659637566" cy="57.04331392103574" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.45454545454545453s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.45454545454545453s"></animate>
                                                        </circle>
                                                        <circle cx="26.012675659637562" cy="42.95668607896427" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.36363636363636365s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.36363636363636365s"></animate>
                                                        </circle>
                                                        <circle cx="33.62848165136787" cy="31.106260641143546" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.2727272727272727s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.2727272727272727s"></animate>
                                                        </circle>
                                                        <circle cx="46.44212904316787" cy="25.254463952976682" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.18181818181818182s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.18181818181818182s"></animate>
                                                        </circle>
                                                        <circle cx="60.38537532504715" cy="27.259200116137038" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.09090909090909091s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.09090909090909091s"></animate>
                                                        </circle>
                                                        <circle cx="71.03133832077953" cy="36.48397956361006" fill="#93e6d6" r="5">
                                                            <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                                            <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="0s"></animate>
                                                        </circle>
                                                    </svg>
                                                </div>
                                                <input type="text" name="table_search" class="form-control float-right mr-1" placeholder="Tìm Cán Bộ" id="Filter_data2">
                                                <div class="input-group-append mr-3">
                                                    <button type="submit" class="btn btn-default" id="search_2">
                                                        <i class="fas fa-search text-primary"></i>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <table class="table table-hover text-nowrap table-bordered mt-4" id="dataTable2" style="width: 100%;">
                                            <thead class="bg-primary ">
                                                <tr>
                                                    <th width="20px" class="">STT</th>
                                                    <th>
                                                        Họ Tên Cán Bộ
                                                    </th>
                                                    <th>
                                                        Số CCCD
                                                    </th>
                                                    <th>
                                                        Chức vụ/ chức danh công tác
                                                    </th>
                                                    <th>
                                                        Cơ quan/đơn vị công tác
                                                    </th>
                                                    <th>
                                                        Tên Kế Hoạch Kê khai
                                                    </th>
                                                    <th>
                                                        Kế Hoạch năm
                                                    </th>
                                                    <th>
                                                        Trạng Thái
                                                    </th>
                                                    <th>
                                                        Chức năng
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>

                                    if ((bool)ViewBag.TrangThaiKKHN)
                                    {
                                        <div class="tab-pane pt-3" id="DSCanBoKKBS">
                                            <div class="card-tools1">
                                                <div class="input-group input-group-sm row">

                                                    <div class=" mr-3">
                                                        <button type="submit" class="btn btn-outline-info" id="btnPrint_dsbs">
                                                            <i class="fa fa-print" aria-hidden="true"></i>
                                                        </button>
                                                        <svg class="d-none" id="loading_btnPrint_dsCBBS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: #fff0; display: block; width: 48px; position: absolute; top: -10px; left: -37px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                                            <circle cx="75" cy="50" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.9090909090909091s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.9090909090909091s"></animate>
                                                            </circle>
                                                            <circle cx="71.03133832077953" cy="63.51602043638994" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.8181818181818182s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.8181818181818182s"></animate>
                                                            </circle>
                                                            <circle cx="60.385375325047164" cy="72.74079988386296" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.7272727272727273s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.7272727272727273s"></animate>
                                                            </circle>
                                                            <circle cx="46.442129043167874" cy="74.74553604702332" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.6363636363636364s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.6363636363636364s"></animate>
                                                            </circle>
                                                            <circle cx="33.62848165136788" cy="68.89373935885646" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.5454545454545454s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.5454545454545454s"></animate>
                                                            </circle>
                                                            <circle cx="26.012675659637566" cy="57.04331392103574" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.45454545454545453s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.45454545454545453s"></animate>
                                                            </circle>
                                                            <circle cx="26.012675659637562" cy="42.95668607896427" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.36363636363636365s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.36363636363636365s"></animate>
                                                            </circle>
                                                            <circle cx="33.62848165136787" cy="31.106260641143546" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.2727272727272727s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.2727272727272727s"></animate>
                                                            </circle>
                                                            <circle cx="46.44212904316787" cy="25.254463952976682" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.18181818181818182s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.18181818181818182s"></animate>
                                                            </circle>
                                                            <circle cx="60.38537532504715" cy="27.259200116137038" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.09090909090909091s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="-0.09090909090909091s"></animate>
                                                            </circle>
                                                            <circle cx="71.03133832077953" cy="36.48397956361006" fill="#93e6d6" r="5">
                                                                <animate attributeName="r" values="3;3;5;3;3" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="0s"></animate>
                                                                <animate attributeName="fill" values="#93e6d6;#93e6d6;#17a2b8;#93e6d6;#93e6d6" repeatCount="indefinite" times="0;0.1;0.2;0.3;1" dur="1s" begin="0s"></animate>
                                                            </circle>
                                                        </svg>
                                                    </div>
                                                    <input type="text" name="table_search" class="form-control float-right mr-1" placeholder="Tìm Cán Bộ" id="Filter_data2">
                                                    <div class="input-group-append mr-3">
                                                        <button type="submit" class="btn btn-default" id="search_2">
                                                            <i class="fas fa-search text-primary"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                            <table class="table table-hover text-nowrap table-bordered mt-4" id="dataTable3" style="width: 100%;">
                                                <thead class="bg-primary ">
                                                    <tr>
                                                        <th width="20px" class="">STT</th>
                                                        <th>
                                                            Họ Tên Cán Bộ
                                                        </th>
                                                        <th>
                                                            Số CCCD
                                                        </th>
                                                        <th>
                                                            Chức vụ/ chức danh công tác
                                                        </th>
                                                        <th>
                                                            Cơ quan/đơn vị công tác
                                                        </th>
                                                        <th>
                                                            Tên Kế Hoạch Kê khai
                                                        </th>
                                                        <th>
                                                            Kế Hoạch năm
                                                        </th>
                                                        <th>
                                                            Trạng Thái
                                                        </th>
                                                        <th>
                                                            Chức năng
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/NghiepVu/NV_XemChiTietKetQuaKeKhai.js"></script>